@charset "UTF-8";
@font-face {
  font-family: 'Conv_ImperialURWExtNar-Reg_0';
  src: url("../fonts/ImperialURWExtNar-Reg_0.eot");
  src: local("☺"), url("../fonts/ImperialURWExtNar-Reg_0.woff") format("woff"), url("../fonts/ImperialURWExtNar-Reg_0.ttf") format("truetype"), url("../fonts/ImperialURWExtNar-Reg_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.Xmas2016 {
  overflow: hidden;
  font-family: 'Conv_ImperialURWExtNar-Reg_0', Helvetica;
  min-height: 92px;
  background: url("../images/bg.png");
  position: relative; }
  .Xmas2016__Presents {
    position: absolute; }
    .Xmas2016__Presents--Left {
      left: -40px;
      top: -15px; }
    .Xmas2016__Presents--Right {
      right: 0;
      bottom: 0; }
  .Xmas2016__Content {
    position: absolute;
    top: 0;
    left: 17%;
    width: 85%;
    bottom: 0; }
  .Xmas2016__Text {
    font-size: 36px;
    color: #000000;
    position: absolute;
    top: 30px;
    left: 15px; }
  .Xmas2016__Clock {
    position: absolute;
    top: 15px;
    left: 300px; }
  .Xmas2016__DigitGroup {
    display: inline-block; }
  .Xmas2016__Digit {
    width: 31px;
    height: 46px;
    line-height: 46px;
    font-family: 'Pathway Gothic One', sans-serif;
    vertical-align: bottom;
    margin-top: 3px;
    font-size: 46px;
    display: inline-block;
    background: url("../images/digit-bg.png") no-repeat center bottom;
    text-align: center;
    padding-top: 0;
    vertical-align: bottom; }
  .Xmas2016__Label {
    margin-top: 5px;
    font-size: 12px;
    display: block;
    text-align: center; }
  .Xmas2016__Divider {
    font-size: 42px;
    display: inline-block;
    vertical-align: top;
    width: 10px; }
  .Xmas2016__Button {
    background-color: #000000;
    position: absolute;
    right: 12%;
    top: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 12px;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 14px;
    height: 35px;
    font-family: Arial, Verdana; }
    .Xmas2016__Button:hover {
      background: #cca252;
      background: -webkit-linear-gradient(#f5dfa6, #cea557);
      background: -o-linear-gradient(#f5dfa6, #cea557);
      background: -moz-linear-gradient(#f5dfa6, #cea557);
      background: linear-gradient(#f5dfa6, #cea557); }
  .Xmas2016.Narrow {
    width: 960px; }
    .Xmas2016.Narrow .Xmas2016__Presents--Left {
      top: 0;
      left: -120px; }
    .Xmas2016.Narrow .Xmas2016__Presents--Right {
      right: -40px; }
    .Xmas2016.Narrow .Xmas2016__Content {
      left: 90px; }
    .Xmas2016.Narrow .Xmas2016__Button {
      right: 40px; }
  .Xmas2016.WithoutButton .Xmas2016__Content {
    left: 17.5%; }
  .Xmas2016.WithoutButton .Xmas2016__Presents--Left {
    left: -60px;
    top: -10px; }
  @media (max-width: 1150px) {
    .Xmas2016__Button {
      right: 3%; } }
  @media (max-width: 1090px) {
    .Xmas2016__Content {
      left: 12%; }
    .Xmas2016__Button {
      right: 5%; }
    .Xmas2016__Presents--Left {
      left: -100px; }
    .Xmas2016__Presents--Right {
      right: -80px; }
    .Xmas2016__Presents__Content {
      left: 11%; } }
  @media (max-width: 980px) {
    .Xmas2016__Text {
      font-size: 29px; }
    .Xmas2016__Clock {
      -ms-transform: scale(0.9, 0.9);
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      top: 19px;
      left: 33%; } }
  @media (max-width: 880px) {
    .Xmas2016 {
      min-height: 160px; }
      .Xmas2016__Button {
        right: 50%;
        margin-right: -92px;
        top: 100px; }
      .Xmas2016__Content {
        position: relative;
        right: 12%;
        width: auto; }
      .Xmas2016__Text {
        left: 50%;
        margin-left: -350px; }
      .Xmas2016__Clock {
        left: 50%;
        margin-left: -100px;
        width: auto; } }
  @media (max-width: 600px) {
    .Xmas2016 {
      min-height: 220px; }
      .Xmas2016__Content {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 20px; }
      .Xmas2016__Presents--Left {
        display: none; }
      .Xmas2016__Clock {
        position: relative;
        top: auto;
        bottom: auto;
        margin: 10px 0 0 0 !important;
        left: auto !important;
        right: auto;
        width: auto;
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1); }
      .Xmas2016__Text {
        margin: 0;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto; }
      .Xmas2016__Button {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 0 0 0 20px;
        display: inline-block; } }

.Xmas2016Landing__Item {
  display: block;
  margin-top: 27px; }
  .Xmas2016Landing__Item img {
    width: 100%;
    max-width: 100%; }

#snowflakeContainer {
  position: fixed;
  left: 0px;
  top: 0px; }

.snowflake {
  pointer-events: none;
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: #FFFFFF;
  user-select: none;
  z-index: 1000; }

.snowflake:hover {
  cursor: default; }

/*# sourceMappingURL=screen.css.map */
