$black: #000000;


	@font-face {
		font-family: 'Conv_ImperialURWExtNar-Reg_0';
		src: url('../fonts/ImperialURWExtNar-Reg_0.eot');
		src: local('☺'), url('../fonts/ImperialURWExtNar-Reg_0.woff') format('woff'), url('../fonts/ImperialURWExtNar-Reg_0.ttf') format('truetype'), url('../fonts/ImperialURWExtNar-Reg_0.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}


.Xmas2016 {

	overflow: hidden;

	font-family: 'Conv_ImperialURWExtNar-Reg_0', Helvetica;


	min-height: 92px;
	background: url('../images/bg.png');
	position: relative;
	

	&__Presents {
		position: absolute;
		&--Left {
			left: -40px;
			top: -15px;
		}

		&--Right {
			right: 0;
			bottom: 0;
		}

	}


	&__Content {
		position: absolute;
		top: 0;
		left: 17%;
		width: 85%;

		bottom: 0;
	}


	&__Text {
		font-size: 36px;
		color: $black;
		position: absolute;
		top: 30px;
		left: 15px;
	}

	&__Clock {
		position: absolute;
		top: 15px;
		left: 300px;


	}

	&__DigitGroup {
		display: inline-block;
	}

	&__Digit {
		width: 31px;
		height: 46px;
		line-height: 46px;
		font-family: 'Pathway Gothic One', sans-serif;
		vertical-align: bottom;
		margin-top: 3px;
		font-size: 46px;
		display: inline-block;
		background: url('../images/digit-bg.png') no-repeat center bottom;
		text-align: center;
		padding-top: 0;
		vertical-align: bottom;
	}

	&__Label {
		margin-top: 5px;
		font-size: 12px;
		display: block;
		text-align: center;
	}

	&__Divider {
		font-size: 42px;
		display: inline-block;
		vertical-align: top;
		width: 10px;
	}

	&__Button {
		background-color: $black;
		position: absolute;
		right: 12%;
		top: 30px;
		color: #FFFFFF;
		text-decoration: none;
		padding: 0 12px;
		text-transform: uppercase;
		line-height: 35px;
		font-size: 14px;
		height: 35px;
		font-family: Arial, Verdana;
		&:hover {
			background: #cca252;
    		background: -webkit-linear-gradient(#f5dfa6, #cea557);
    		background: -o-linear-gradient(#f5dfa6, #cea557);
    		background: -moz-linear-gradient(#f5dfa6, #cea557);
    		background: linear-gradient(#f5dfa6, #cea557);
		}
	}

	&.Narrow {
		width: 960px;
		.Xmas2016__Presents--Left {
			top: 0;
			left: -120px;
		}

		.Xmas2016__Presents--Right {
			right: -40px;
		}

		.Xmas2016__Content {
			left: 90px;
		}

		.Xmas2016__Button {
			right: 40px;
		}
	}

	&.WithoutButton {
		.Xmas2016__Content {
			left: 17.5%;
		}

		.Xmas2016__Presents--Left {
			left: -60px;
			top: -10px;
		}
	}


	@media (max-width: 1150px) {

		&__Button {
			right: 3%;
		}
	}

	@media (max-width: 1090px) {

		&__Content {
			left: 12%;
		}

		&__Button {
			right: 5%;
		}

		&__Presents {
			&--Left {
				left: -100px;
			}

			&--Right {
				right: -80px;
			}

			&__Content {
				left: 11%;
			}
			
		}
	}

	@media (max-width: 980px) {
		&__Text {
			font-size: 29px;
		}

		&__Clock {
			-ms-transform: scale(0.9, 0.9);
			-webkit-transform: scale(0.9, 0.9);
    		transform: scale(0.9, 0.9);
    		top: 19px;
    		left: 33%;
		}
	}

	@media (max-width: 880px) {
		min-height: 160px;

		&__Button {
			right: 50%;
			margin-right: -92px;
			top: 100px;
		}

		&__Content {
			position: relative;
			right: 12%;
			width: auto;
		}

		&__Text {
			left: 50%;
			margin-left: -350px;
		}

		&__Clock {
			left: 50%;
			margin-left: -100px;
			width: auto;
		}
	}

	@media (max-width: 600px) {
		min-height: 220px;

		&__Content {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			margin: 20px;
		}

		&__Presents {
			&--Left {
				display: none;
			}
		}

		&__Clock {
			position: relative;
			top: auto;
			bottom: auto;
			margin: 10px 0 0 0 !important;
			left: auto !important;
			right: auto;
			width: auto;
			-ms-transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
    		transform: scale(1, 1);
		}

		&__Text {
			margin: 0;
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			bottom: auto;
		}

		&__Button {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			margin: 0 0 0 20px;
			display: inline-block;
		}
	}

}

.Xmas2016Landing {
	&__Item {
		display: block;
		margin-top: 27px;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}



#snowflakeContainer {
    position: fixed;
    
    left: 0px;
    top: 0px;
}
.snowflake {
	pointer-events: none;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

